.blogs h1{
    font-size: 2.2rem;
    text-align: center;
    color: var(--headingColor);
    font-weight: 700;
}

.heading{
    color: var(--primaryColor);
}
.mainBlog{
    margin-top: 5rem;
}
.blogs .blogCard .blogCardImg{    position: relative;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
}
.blogs .blogCard .blogCardContent h5{
    text-overflow: ellipsis;
    height: 33px;
    overflow: hidden;
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 200px;
    font-weight: 700;
    overflow: hidden;
}
.mainBlogsCard{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
}
.img-fluid{
    width: 100%;
    margin: 0 auto;
    height: 145px;
    object-fit: cover;
}
.mainBlogsCard img{
    width: 500px;
}

.mainBlogsCard h1{
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--headingColor);
}
.mainBlogsCard h6{
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 400;
    letter-spacing: .6rem;
    color: var(--headingColor);
}



.customButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 5rem;
}

.customButton .btn-custom{
    background-color: transparent;
    border: 2px solid #6d6d6d !important;
    padding: .5rem 2rem;
    color: #515151;
    border: none;
    margin-right: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    font-weight: 700;
}







/* RESPONSIVENESS */
@media(max-width: 1150px) {
    .mainBlogsCard{
        flex-direction: column-reverse;
    }
    
    
}
@media(max-width: 768px) {
    .mainBlogsCard{
        flex-direction: column-reverse;
    }
    .mainBlogsCard img{
        width: 100%;
    }
}
.skeleton-loader {
    position: relative;
    background: #f6f7f8;
    width: 100%;
    height: 150px;
    background: #4c4c4c;
    border-radius: 21px;
    opacity: 0.2;
    overflow: hidden;
  }
  
  .skeleton-loader::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(219, 219, 219, 0.4),
      transparent
    );
    animation: skeleton 1.5s infinite linear;
  }
  
  .hidden {
    display: none;
  }
  
  @keyframes skeleton {
    100% {
      transform: translateX(100%);
    }
  }
  