h1{
    font-size: 38px;
    text-align: center;
    margin: 20px auto;
    color: #7BB564;
    font-weight: 700;
}
h2{
    font-size: 32px;
    text-align: center;
    margin: 20px auto;
}
.question{
    font-size: 18px;
    text-align: left;
    font-weight: 700;
    background: #7BB564;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
}
p{
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-left: 20px;
}
ul li{
    font-size: 16px;
    text-align: left;
    list-style: auto;
}

 
/* 
width: 100%;
word-wrap: break-word;
margin:0px 0px 0px 0px !important */


@media only screen and (max-width: 750px){
    p{
        width: 100%;
word-wrap: break-word;
margin:0px 0px 0px 0px !important
    }

}